.section__items {
    display: grid;
    place-content: center;
    height: 100vh;
    position: relative;
    background: {
        image: url('./img/itemsBg.png');
        repeat: no-repeat;
        size: cover;
        position-y: center;
        position-x: center;
        color: #b9b8b8;
    }
}