.section__items {
    display: grid;
    place-content: center;
    min-height: 100vh; /* La altura mínima es el 100% de la ventana */
    position: relative;
    background: {
        color: #0E0D12;
        repeat: no-repeat;
        size: cover;
        position-y: center;
        position-x: center;
        attachment: fixed;
    }
}

.section__items2 {
  width: 80vw;
  margin: 0 auto;
  margin-top: 60px;
  padding: 25px;
  border-radius: 5px;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  .article-table-container {
      width: 100%; /* Asegurar que el contenedor ocupe todo el ancho disponible */
      max-width: 80vw; /* Limitar el contenedor al 80% del ancho de la ventana */
      overflow-x: auto; /* Habilitar desplazamiento horizontal */
      margin-top: 5px;
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-start; /* Centrar la tabla horizontalmente */
  }

  .article-table-container-small {
    width: 100%; /* Asegurar que el contenedor ocupe todo el ancho disponible */
    max-width: 80vw; /* Limitar el contenedor al 80% del ancho de la ventana */
    overflow-x: auto; /* Habilitar desplazamiento horizontal */
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Centrar la tabla horizontalmente */
}

  .article-table {
      width: max-content; /* Asegura que la tabla ocupe el 100% del contenedor */
      max-width: 100%; /* Evita que la tabla exceda el ancho del contenedor */
      overflow-x: auto; /* Habilitar desplazamiento horizontal si es necesario */
      border-collapse: collapse;
      margin-top: 20px;
      margin-bottom: 20px;
      color: white;
  }
  
  .article-table th, .article-table td {
      border: 0.1em solid $bg-DColor;
      padding: 8px;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap; /* Evitar el ajuste del texto */
  }
  
  .article-table th {
      background-color: #60617A;
  }

  .article-table tr {
      background: #17161C;
  }

  .article-table tr:nth-child(2n) {
      background: #26242E;
  }
  
    .title-text {
      font-weight: 600;
      color: white;
    }

    .article-text {
      text-align: left;
      color: white;
    }

    .article-text2 {
      text-align: left;
      font-style: italic;
      color: white;
    }

    .article-text3 {
      font-size: 20px;
      text-align: left;
      font-weight: 500;
      color: white;
    }

    .article-text4 {
      margin-top: 10px;
      text-align: left;
      font-weight: 600;
      color: white;
    }

    .article-text5 {
      font-size: 20px;
      text-align: left;
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: 10px;
      color: white;
    }
}
