
.news-article {
    width: 66vw;
    margin: 0 auto;
    margin-top: 120px;
    border-top: 200px;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-height: max-content;
    margin-bottom: 120px;

    .article-header {
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc; /* Add a bottom border with a thin gray line */
      padding-bottom: 10px; /* Add some space below each article */
      .article-title {
        font-size: 28px;
        font-weight: 500;
        margin: 0;
        color: #333;
        text-align: justify;
        margin-bottom: 7px;
      }
      .article-metadata {
        font-size: 14px;
        color: #777;
        text-align: justify;
        .author {
          margin-right: 10px;
        }
      }
    }

    .article-subtitle {
      font-size: 20px;
      font-weight: 500;
      color: #333;
      text-align: justify;
      margin-top: 20px;
      /* Add styles for links, images, or other content elements here */
    }

    .article-subtitle2 {
      font-size: 18px;
      font-weight: 500;
      color: #333;
      text-align: justify;
      margin-top: 20px;
      /* Add styles for links, images, or other content elements here */
    }

    .article-subtitle3 {
      font-size: 28px;
      font-weight: 600;
      font-style: italic;
      color: #333;
      text-align: justify;
      margin-top: 20px;
      /* Add styles for links, images, or other content elements here */
    }

    .article-content {
      font-size: 16px;
      line-height: 1.6;
      color: #333;
      /* Add styles for links, images, or other content elements here */
    }

    .skill-container {
      align-items: center; /* Center align items vertically */
    }
    
    .skill-icon {
      max-width: 40px; /* Adjust the max-width of the image as needed */
      border-radius: 9%;
      display: inline-block; /* Add this line */
    }

    .skill-icon2 {
      max-width: 40px; /* Adjust the max-width of the image as needed */
      border-radius: 9%;
      margin-right: 5px;
      display: inline-block; /* Add this line */
    }

    .skill-text {
      font-size: 18px; /* Adjust the font size as needed */
    }
    .skill-text2 {
      font-size: 18px; /* Adjust the font size as needed */
      font-weight: 500;
      color: #f35c11;
    }
    .skill-text3 {
      font-size: 16px; /* Adjust the font size as needed */
    }
    .skill-text-darkgreen {
      font-weight: 600;
      color: rgb(15, 128, 0);
    }
    .skill-text-midgreen {
      font-weight: 600;
      color: rgb(15, 187, 0);
    }
    .skill-text-lightgreen {
      font-weight: 600;
      color: rgb(0, 255, 0);
    }
    .skill-text-red {
      font-weight: 600;
      color: rgb(255, 0, 0);
    }
    .skill-text-golden {
      font-weight: 600;
      color: rgb(204, 102, 0);
    }
    .skill-text-midblue {
      font-weight: 600;
      color: rgb(0, 112, 192);
    }
    .skill-text-golden2 {
      font-size: 18px; /* Adjust the font size as needed */
      color: rgb(204, 102, 0);
    }
    .skill-text-midblue2 {
      font-size: 18px; /* Adjust the font size as needed */
      color: rgb(0, 112, 192);
    }

    .article-table {
      max-width: max-content; // Adjust this as needed
      overflow-x: auto; // Enable horizontal scrolling if the table is wider than the container
      border-collapse: collapse; /* Collapse table borders to eliminate spacing */
      margin-top: 20px; /* Add space above the table */
      margin-bottom: 20px; /* Add space above the table */
    }
    
    .article-table th, .article-table td {
      border: 1px solid #ddd; /* Add borders to table headers and cells */
      padding: 8px; /* Add padding inside table cells */
      text-align: center; /* Align text in cells to the left */
      vertical-align: middle;
    }
    
    .article-table th {
      background-color: #f2f2f2; /* Add a background color to table headers */
    }
  
    .title-text {
      font-weight: 600;
    }

    .article-text {
      text-align: left;
    }

    .article-text2 {
      text-align: left;
      font-style: italic;
    }

    .article-text3 {
      font-size: 20px;
      text-align: left;
      font-weight: 500;
    }

    .article-text4 {
      margin-top: 10px;
      text-align: left;
      font-weight: 600;
    }

    .article-comments {
      margin-top: 40px;
      h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
        text-align: left;
      }
      /* Style your comments section here */
    }
  
    video {
      margin-top: 10px;
      margin-bottom: 20px;
      /* Add any other styles you want */
    }

    .table-of-contents {
      border: 1px solid #ccc;
      padding: 10px;
      background-color: #f7f7f7;
      border-radius: 5px;
      margin-bottom: 20px;
      text-align: left;
      max-width: max-content;
    }
    
    .table-of-contents h2 {
      font-size: 1.05em;
      font-weight: 500;
      margin-bottom: 5px;
    }
    
    .table-of-contents ul {
      list-style-type: none;
      padding: 0;
    }
   
    .table-of-contents a {
      color: rgb(22, 67, 190);
      transition-property: color;
      transition-duration: 0.15s;
          &:hover {
          color: $hover-DColor;
              }    }
  }
