/* **** CONFIGS | CUSTOM PROPERTY **** */

/* Colors */
    /* Txt */ 
        $main-DColor: #202020;
        $scnd-DColor: rgba(251, 250, 247, 0.75);
        $third-DColor: rgb(255, 252, 252);
        $hover-DColor: rgba(247, 206, 183, 1);

    /* Bg */
        $bg-LColor: #E8E8E8;
        $bg-LScndColor: #fffcf7;

        $bg-DColor: #202020;
        $bg-DScndColor: #33374f;

    /* Msg */
        $error: #ff2727e8;
        $success: #05ad05;


/* Fonts */
    $main-typo: 'Beaufort'; 
    $scnd-typo:  Calibri, 'Trebuchet MS', sans-serif;


/* Sizes  */
    $heightNav: 3.7em;


/* --- Scrollbar custom pro ---*/ 
    ::-webkit-scrollbar {
        width: 0.6em;
        height: 0.6em;
        background-color: rgba(255, 255, 255, 0);
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(150 57 0 / 80%);
        border-radius: 0%;
        position: relative;
        ::after {
            content: '';
            width: 1em;
            height: 1em;
            background-color: red;
            position: absolute;
        }
    }



/* --- Select TXT ---*/
    ::selection {
        background-color: rgb(26 19 19 / 36%);
        color: rgba(247, 206, 183, 1);
    }
