.section__new {
    display: grid;
    justify-content: center;
    min-height: max-content;
    text-align: center;
    background: {
        image: url(./img/newsBg.png);
        color: #b9b8b8;
        repeat: no-repeat;
        size: cover;
        position-y: center;
        position-x: center;
        attachment: fixed;
    }
}

