.section__news {
    display: grid;
    place-content: center;
    height: 100vh;
    background: {
        image: url('./img/newsBg.png');
        repeat: no-repeat;
        size: cover;
        position-y: center;
        position-x: center;
        color: #b9b8b8;
    }

    .news__container {
        display: grid;
        max-width: 100vw;
        gap: 2em;
        flex-wrap: wrap;
        .news__article {
          display: flex;
          justify-content: space-between; /* Push the article name to the left and the date to the right */
          border-bottom: 1px solid #ccc; /* Add a bottom border with a thin gray line */
          padding-bottom: 10px; /* Add some space below each article */
          align-items: center; /* Vertically center align the content */
        }
        .news__articlename {
        font-size: 20px;
        color: black;
        transition-property: color;
        transition-duration: 0.15s;
            &:hover {
            color: $hover-DColor;
        }
    }
    .news__date {
        font-size: 14px;
        color: #777;
        text-align: justify;
    }
}

.news__background {
    width: 55vw;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-height: max-content;
    margin-bottom: 120px;
}

.news__title {
    font-size: 3em;
    font-weight: 600;
    color: $third-DColor;
    text-shadow: 0.075em 0.075em $bg-DColor;
    text-align: center;
    margin-bottom: 1em;
}

}