
.container__races {
    margin-top: $heightNav;
    .races__navigation {
        background: rgb(0, 0, 0, 0.60);
        margin-top: 1.5em;
        color: $third-DColor;
        min-width: 60vw;
        display: flex;
        height: 2.5em;
        justify-content: center;
        border-radius: 2%;
        .races__list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2em;
            margin: auto;
            li {
                display: flex;
                align-items:center;
                cursor: pointer;
                transition-property: color;
                transition-duration: 0.15s;
                gap: 0.3em;
                &:hover {
                    font-weight: 600;
                    color: $hover-DColor;
                }
                img {
                    max-width: 31px;
                    max-height: 33px;
                } 
            }
        } 
    }
}

.classes__container {
    h3 {
        font-size: 1.3em;
        font-weight: bold;
        color: $third-DColor;
        text-shadow: 0.075em 0.075em $bg-DColor;
    }
}

