.section__classGuides {
    background: {
        image: url('./img/classGuidesBg.png');
        repeat: no-repeat;
        size: cover;
        position-y: center;
        position-x: center;
        color: #b9b8b8;
    }
    display: grid;
    justify-content: center;
    min-height: max-content;
    text-align: center;
    min-height: 100vh;
    h2 {
        display: flex;
        align-items:center;
        gap: 0.3em;
        font-size: 2em;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-shadow: 0.075em 0.075em $bg-DColor;
        margin: 1em auto;
        img {
            width: 1.75em;
            box-shadow: 0.075em 0.075em $bg-DColor;
        }
    }
    .items__list {
        display: flex;
        flex-direction: column;
    }
}