.title__container {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    margin-bottom: 0.5em;
    .item__image {
        width: 3em;
        border-radius: 9%;
        box-shadow: 0.1em 0.1em $bg-DColor;
    }
    .item__label {
        font-size: 1.75em;
        font-weight: bold;
        color: $third-DColor;
        text-shadow: 0.075em 0.075em $bg-DColor;
        padding-bottom: 10px; /* Add some space below each article */
        border-bottom: 1px solid #ccc; /* Add a bottom border with a thin gray line */
    }
}
