.section__hero {
    background: {
        image: url('./img/heroBg.png');
        repeat: no-repeat;
        size: cover;
        position-y: center;
        position-x: center;
        color: #b9b8b8;
    }
    display: grid;
    text-align: center;
    place-content: center;
    object-fit: contain;
    height: 100vh;
    overflow: clip;
    overflow-clip-margin: content-box;

    .hero__container {
        display: flex;
        flex-direction: column;
        margin-top: -25em;
        margin-left: -60em;
        gap: 3em;
        margin-bottom: 6em;
        .container__logo {
            width: 10em;
            margin: auto;
        }

    }
    .container__name {
        text-align: left;
        margin-left: 5em;
        color: white;
        margin-top: 2.5em;
        font-weight: 500;
        font-size: 2.25em;
        text-shadow: 0.1em 0.1em $bg-DColor;
            }
    .container__name2 {
        text-align: left;
        margin-left: 9em;
        color: white;
        margin-top: -1.5em;
        font-weight: 500;
        font-size: 1.25em;
        text-shadow: 0.1em 0.1em $bg-DColor;
    }

/* Changelog Bubble CSS */
.changelog {
    position: absolute;
    top: 32%; /* Adjust as needed */
    left: 9.5%; /* Adjust as needed */
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
    max-width: 400px; /* Adjust as needed */
    max-height: 400px;
    overflow-y: auto; /* Add a vertical scrollbar when content exceeds the maximum height */
    z-index: 2; /* Ensure it's above other elements */
}

.changelog__bubble {
    position: relative;
    margin: 0 auto;
}

.changelog__text {
    margin: 0;
    color: white;
    text-align: left;
}
.changelog__subtitle {
    margin: 0;
    text-align: left;
    color: white;
    font-weight: 500;
    font-size: 1.05em; /* Adjust the font size as needed */
    margin-top: 15px; /* Adjust the margin as needed */
}

/* Changelog Title CSS */
.changelog__title {
    text-align: center;
    color: white;
    font-size: 1.75em; /* Adjust the font size as needed */
    margin-bottom: 15px; /* Adjust the margin as needed */
    border-bottom: 1px solid #ccc; /* Add a bottom border with a thin gray line */
    padding-bottom: 12px; /* Add some space below each article */
    font-weight: 500;
}

/* In your SCSS or CSS file */
.changelog__link {
    color: white;
    font-weight: 500; /* Add bold style to links */
    transition-property: color;
    transition-duration: 0.15s;
        &:hover {
        color: $hover-DColor;
    }
}
  
}