
.table__th {
    padding: 0 0.5em;
    border-bottom: 0.1em solid $bg-DColor;
    border-right: 0.1em solid $bg-DColor;
    background: #60617A;
    color: $scnd-DColor;
    font-weight: normal;
    &:last-child {
        border-right: none;
    }
}

.table__body {
    text-align: center;
    .table__tr {
        border-bottom: 0.1em solid $bg-DColor;
       
        background: #17161C;
        &:nth-child(2n) {
            background: #26242E;
        }
        &:last-child {
            border-bottom: none;
        }
        .table__td {
            border-right: 0.1em solid $bg-DColor;
            padding: 0 0.25em;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            &:last-child {
                border-right: none;
            }
        }
    }
}


